<h1>Hi {{ currentUser.first_name }}!</h1>
<form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" value="{{ currentUser.email }}" formControlName="email" autocomplete="email"
           class="form-control"/>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" formControlName="password" autocomplete="current-password" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="first_name">First name</label>
    <input type="text" value="{{ currentUser.first_name }}" formControlName="first_name" autocomplete="given-name"
           class="form-control"/>
  </div>
  <div class="form-group">
    <label for="middle_name">Middle Name</label>
    <input type="text" value="{{ currentUser.middle_name }}" formControlName="middle_name"
           autocomplete='additional-name' class="form-control"/>
  </div>
  <div class="form-group">
    <label for="last_name">Last Name</label>
    <input type="text" value="{{ currentUser.last_name }}" formControlName="last_name" autocomplete='family-name'
           class="form-control"/>
  </div>
  <div formArrayName="phones">
    <div class="form-group" *ngFor="let phone of editProfileForm.controls['phones'].controls; let i = index">
      <label>Телефон</label>
      <input class="form-control" value="+7{{ currentUser.phone }}" formControlName="{{ i }}"/>
    </div>
    <div class="form-group">
      <button class="btn btn-default" (click)="addPhone()">
        Добавить телефон
      </button>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">Update</button>
    <button [routerLink]="['/login']" class="btn btn-link">Cancel</button>
  </div>
</form>
<form [formGroup]="avatarForm" (ngSubmit)="changeAvatar()">
  <div class="form-group">
    <label for="avatar">avatar</label>
    <input type="file" name="avatar" formControlName="avatar" class="form-control"/>
  </div>
    <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">Upload Avatar</button>
    <button class="btn btn-link">Delete Avatar</button>
  </div>
</form>
<div>Name: {{ currentUser.first_name }}</div>
<div>Middle Name: {{ currentUser.middle_name }}</div>
<div>Last Name: {{ currentUser.last_name }}</div>
<div>Id: {{ currentUser.id }}</div>
<div>Phone: {{ currentUser.phone }}</div>
<div>Avatar: <img src="{{ currentUser.avatar }}"></div>
<div></div>
<p><a [routerLink]="['/login']">Logout</a></p>
